/* Color Swatch used: #DDD, #F5F5F5, #6495ED */
/* Fonts used: Arial, Helvetica, Helvetica Neue, sans-serif */

body 
{
  font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
  font-size: 1rem;
}

legend 
{
  font-size: 2rem;
  display: block;
  margin: auto;
}

fieldset 
{
  padding: 3rem; 
  width: 100%;
  align-items: center;
  background-color: #F5F5F5;
  box-sizing: border-box;
  margin: auto;
}

input[type=text] 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #DDD;
  border-radius: 4px;
  
}

input[type=submit] 
{
  width: 100%;
  background-color: #6495ED;
  color: #F5F5F5;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
  font-size: 1rem;
  margin-top: 5%;
}



textarea
{
  width: 100%;
  height: 5%;
  border: 1px solid #DDD;
  border-radius: 4px;
}

/* Smart Phone < 400px*/
@media (max-width: 400px) { 
  input[type=text] 
  {
    width: 100%; 
  }
  

}

/* Tablet - between 25rem(400) and 40rem(640) */
@media (min-width: 401px) and (max-width: 640px) { 
  
  textarea
  {
  width: 100%;
  }

  .row 
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    }

  .column-half 
  {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    }
    
}

/* Desktop - between 40rem(640px) and 50rem(800) | max-width: 50rem */
@media (min-width: 641px) and (max-width: 800px) { 
  
  input[type=text] 
  {
    width: 70%; 
  }
  .row 
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    }

  .column-half
   {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    }
}

/* Desktop - greater than 50rem(800) */
@media (min-width: 801px){ 

  input[type=text] 
  {
    width: 70%; 
  }

  fieldset{
    max-width: 800px ;
    margin: auto;
  }
  .contact
  {
    
    
    height: auto;
    align-items: center;
  }
  .row
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column-half
   {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    }
}
